.card {
    height: calc(50vh - 60px);
    margin: 10px;
    border: 1px solid rgba(0, 81, 153, 0.1);
    box-shadow: 0 0 5px rgb(131 189 227);
}

.ant-card-head {
    border-bottom: 1px solid rgba(0, 81, 153, 0.1);
    box-shadow: 0 0 5px rgb(131 189 227);
    min-height: 42px;
    padding: 0 10px;
}

.ant-card-head-title {
    padding: 10px 0;
}
